@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;
}
.header {
	margin-top: -32px;
}


#nav ul {
	list-style-type: none;
	overflow: hidden;
	float: right;
	margin-top: -40px;
	margin-right: 90px;

	}

#nav ul li {
	float: left;

}

#nav ul li a {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-size: 20px;
}

#nav ul li a:hover:not(.active) {
  	text-decoration: underline grey;
}
#nav a.active {
	text-decoration: underline;
}

#logo {
	float: left;
	padding-left: 80px; 
	margin-top: 15px;
}

.source:hover .dropcontent {
	display: block;
}

.source {
	display: inline-block;
}

.dropcontent {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 120px;
	padding: 2px;
}

.container{
    margin: 0 10%;
}
h1{
    font-size: 48px;
	padding-top: 28px;
}
.artists{
    overflow: hidden;
}

.artists .iconleft{
    float: left;
    margin-right: 20px;
}
.artists .imgleft{
    float: left;
    margin-right: 20px;
}
.artists .textleft{
    text-align: justify;
    line-height: 150%;
    margin-right: 20px;
	overflow: hidden;
}
.artists .iconleft ul{
    list-style: none;
    padding: 0;
}
.artists .iconleft i{
    color: rgb(0, 0, 50);
    font-size: 28px;
    margin-bottom: 15px;
}

.artists .iconright{
    float: right;
    margin-left: 20px;
}
.artists .imgright{
    float: right;
    margin-left: 20px;
}
.artists .textright{
    text-align: justify;
    line-height: 150%;
	overflow: hidden;
}
.artists .iconright ul{
    list-style: none;
    padding: 0;
}
.artists .iconright i{
    color: rgb(0, 0, 50);
    font-size: 28px;
    margin-bottom: 15px;
}

.firstline img {
	float: left;
	height: 100px;
	width: 50px;
}

.secondline img {
	height: 250px;
	width: 900px;
	position: absolute;
	z-index: -1;
	opacity: 0.7;
}
.secondline p {
	margin-left: 375px;
}
.secondline2 img {
	height: 100px;
	width: 300px;
}

.thirdline img {
	height: 365px;
	width: 365px;
	float: left;
	margin-top: 30px;
}
.thirdline p {
	float: left;
	width: 500px;
	margin-left: 10px;
}
.thirdline2 img {
	height: 100px;
	width: 300px;
	float: left;
}
.fourthline img {
	height: 365px;
	float: left;
}
.fourthline2 img {
	height: 100px;
	width: 300px;
	float: left;
}

.fifthline img {
	float: left;
}
.fifthline p {
	text-indent: 10px;
}

.sixthline img {
	height: 365px;
	width: 365px;
	float: left;
	margin-top: 30px;
}
.sixthline p {
	float: left;
	width: 500px;
	margin-left: 10px;
}
.sixthline2 img {
	height: 100px;
	width: 300px;
	float: left;
}

#copyright {
	margin-top: 100px;
	text-align: right;
}
.sponsors {
	float: left;
}
footer a {
	color: black;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;

}

footer {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	background-color:#6B6B6B;
}

